
div.mapnode{
	width: 100%; 
	height: 900px;
	top:46px;
}

@media screen and (max-height: 1000px), and (min-height: 800px) {
	div.mapnode{
		height: 900px;
	}	
}

@media screen and (max-height: 800px), and (min-height: 768px) {
	div.mapnode{
		height: 700px;
	}	
}

@media  screen and (max-height: 768px), and (min-height:600px) {
	div.mapnode{
		height: 610px;
	}	
}

@media  screen and (max-height: 600px), and min-height:450px) {
	div.mapnode{
		height: 525px;
	}
	
}

@media screen and (max-height: 450px), and (min-height: 350px) {
	div.mapnode{
		height: 400px;
	}
	
}

@media screen and (max-height: 350px), and (min-height:250px){
	div.mapnode{
		height: 300px;
	}
}

